# Environment variables example
TELEGRAM_TOKEN=8092224597:AAFTeHy584GE5z9QHJGetG4S_lDRg4XrwcI
GROUP_CHAT_ID=-1003790304996
BOT_USERNAME=PandaRestaurantOrder_Bot
DATABASE_PATH=./data/panda.db
BASE_URL=http://localhost:5000
STRIPE_SECRET_KEY=
STRIPE_SUCCESS_URL=
STRIPE_CANCEL_URL=
